
 <%#                                                    %>
 <%# footer.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %>
 <%#                                                    %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>

</body>
<div class="footer">
  <p></p>
 <article id="footerArticle">
        <p if="footerTagLine">This simple shopping cart is run by an awesome store </p>
        <br>
        <p id="footerBlerb"> This is where i'm going to tell people hopw awesome this store is<br />
        I'm going to remind people what community things we do<br />
        and i\'m going to tell them how awesome they are for helping 
  </p>
 </article>
    <ul>
      <li><a href="https://app.powerbi.com/view?r=eyJrIjoiOWZkNmNlN2UtNTZjNC00OGQ4LWE5MzEtN2M0ZGVkZGQzZTU4IiwidCI6IjQ4MDNlZjcyLTcwNTctNGJjNi1iNjY2LWIxNWJkZjhkYjc2OCIsImMiOjN9"><span title="try to vote me into making things!">Check out What's on my trello board</span> </a></li> 
      <li><a href="https://app.powerbi.com/view?r=eyJrIjoiNzQwYTVmZDgtNTc4Yy00YTNlLThmN2MtNWMwNWNiZGY5OTJiIiwidCI6IjQ4MDNlZjcyLTcwNTctNGJjNi1iNjY2LWIxNWJkZjhkYjc2OCIsImMiOjN9"><span title="Here are ways to check out projects in progress too!">These were built solely in Microsft  😲</span> </a></li> 	 
      <li><a href="www.ofpanalytics.com"><span title="OFP Analytics">Check Out my Company Site</span> </a></li> 	 
    </ul>
  <input type="button" value="Contact" onclick="displaymessage()" />
</div> 

<p id="copyright">&copy 3020 Tom's Insane </p>
</html>

