
 <%#                                                    %>
 <%# navbar.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %>
 <%#                                                    %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>
<div class="row">

<div class="col-3 col-m-3 menu">
  <ul>
    <li ><a class="link" href="/"><img src="/img/home.jpg" alt=""></a> </li>
  	<li ><a class="link" href="/user"><img src="/img/home.jpg"></a> </li>
  	<li ><a class="link" href="/orders"><img src="/img/box.jpg"></a> </li>
  </ul>
</div>


