
 <%#                                                    %>
 <%# show.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %>
 <%#                                                    %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>
<% include ../partials/header.ejs %>
<h1>whats going on</h1>

 <p> <%= orders.id %></p>
 <p> <%= orders.quantity %></p>
 <p> <#= orders.quantity %></p>
<a href="/orders">Back to all orders</a>
<a href="<%#= `/orders/${orders.id}/edit` %>">
  Edit orders.
</a>
<br>

middle text

<form action="<%#= `/orders/${orders.id}?_method=DELETE` %>" method="POST">
  <input type="submit" value="Delete" />
</form>


<% include ../partials/footer.ejs %>

