
 <%#                                                    %>
 <%# footer.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %>
 <%#                                                    %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>
</body>
 <article id="footerArticle">
        <h4 if="footerTagLine">This simple shopping cart is run by an awesome store </h4>
        <p id="footerBlerb"> This is where i'm going to tell people hopw awesome this store is<br />
        I'm going to remind people what community things we do<br />
        and i\'m going to tell them how awesome they are for helping 
        </p>
        <input type="button" value="Contact" onclick="displaymessage()" />
 </article>


<p id="copyright">&copy 3020 Tom's Insane </p>
</html>

