 <%#                                                     %>
 <%# header.ejs                                          %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>                 %>
 <%#                                                     %>
 <%# Distributed under terms of the MIT license.         %>
 <%#                                                     %>
    <head>
     <link rel="stylesheet" href="/stylesheets/stylesheets.css">
 <header>


    <img id="storeImg" src="http://www.dropbox.com/s/s9de5nzsypb073m/market-store-icon.jpg?dl=0"  alt="It's  a store!!">
  <title>Shopping Cart Demo</title>
  <h3>Here is a Simple Shopping Cart written in NodeJS</h3>
    <img id="cartImg" src="http://www.dropbox.com/s/01jopto114zz25l/cart.jpg?dl=0"  alt="It's  a cart!!">
  <%# i should be able to throw a navbar in here ...right? %>

    <p id="myTagline">¯\_(ツ)_/¯ I like making things with computers (╯°□°）╯︵ ┻━┻</p>
  
  <h4>by: Tom Goodheart</h4>
  <img id="menuImg" src="https://www.dropbox.com/s/vrl50dy8c5i4nhn/menu.png?dl=0" alt="It's  a menu!!">
  	 
  </header>
  
</head>
<body>
