 <%#                                                     %>
 <%# header.ejs                                          %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>                 %>
 <%#                                                     %>
 <%# Distributed under terms of the MIT license.         %>
 <%#                                                     %>

    <head>
    /* <link rel="stylesheet" href="/stylesheets/style.css"> */
 <header>
    <img src="https://ofpanalytics-my.sharepoint.com/personal/tomgoodheart_ofpanalytics_com/_layouts/15/guestaccess.aspx?docid=1e5855663413644b6b906e34cee3c95ac&authkey=AVADAQ63r0M7rJKQHagyIeQ&e=4eac61f989394ce6a7a28fefc098a374" width="200" height="200" alt="It's Me!">
  <title>a Simple Shopping Cart Demo</title>
  <h1>Here is a Simple Shopping Cart written in NodeJS</h1>
  <%# i should be able to throw a navbar in here ...right? %>
  
  <h1>by: Tom Goodheart</h1>
    <li>
    <p>¯\_(ツ)_/¯ I like making things with computers (╯°□°）╯︵ ┻━┻</p>
    </li> 
  </header>
  
</head>
<body>
