 <%#                                                    %>
 <%# index.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %>
 <%#                                                    %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>
<%include ../views/partials/header.ejs %>

<div>you're past orders

</div>

<div class="col-6 col-m-9">
<h1>Place new a order</h1>

<form action="<%= `/orders/new?_method=POST` %>" id="createForm" method="POST">
UserId:
<select id="u_id" name="u_id" form="createForm">
  <option value="1">testuser1</option>
  <option value="2">testuser2</option>
</select>
<br>
product:
<select id="productid" name="productid" form="createForm">
  <option value="2">nintenPi</option>
  <option value="1">customPi</option>
</select>
 quantity:
 <input type="number" name="quantity" id="quantity" value="1" maxlength="9">
 <input type="submit" value="Save changes" >
</form></div>


</div>

<% include ../views/partials/footer.ejs %>
